
APP_ENV=dev
APP_BASE_URL=http://127.0.0.1:8000
SESSION_SECRET=sgfgfjc34874REHGDFSE8ELVB4r9tbfngnbYjgtd
SESSION_MAX_AGE_SECONDS=86400

SCHOOL_ID=your-supabase-school-id
SCHOOL_NAME=school_name

SUPABASE_URL=your-SUPABASE_URL
SUPABASE_SERVICE_ROLE_KEY=your-SUPABASE_SERVICE_ROLE_KEY

GEMINI_API_KEY=your-gemini_api_key
GEMINI_MODEL_INTENT=gemini-2.5-flash
GEMINI_MODEL_ANSWER=gemini-2.5-flash

GROQ_API_KEY=your_groq_api_key
GROQ_MODEL_INTENT=llama-3.1-8b-instant
GROQ_MODEL_ANSWER=llama-3.1-8b-instant

CEREBRAS_API_KEY=your-CEREBRAS_API_KEY
CEREBRAS_MODEL_INTENT=llama3.1-8b
CEREBRAS_MODEL_ANSWER=llama-3.3-70b

FORMSPREE_ENDPOINT=https://formspree.io/f/mdabannb
FORMSPREE_QUERY_ENDPOINT=https://formspree.io/f/mjglpban


APP_BASE_URL=http://127.0.0.1:8000

